@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16pt;
    background-color: #2C2C2C;
    color: white;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
}

.basic-frame {
    margin: 75px;
    text-align: center;
}

.excited {
    background-color: #F3884B;
    /* margin: 75px; */
    padding: 4.5%;
    text-align: center;
}

.content {
    background-color: #75CF7E;
    padding: 4.5%;
    text-align: center;
}

.happy {
    background-color: #F3D84B;
    padding: 4.5%;
    text-align: center;
}

.bad {
    background-color: #CB6DF8;
    padding: 4.5%;
    text-align: center;
}

.sad {
    background-color: #6DC6F8;
    padding: 4.5%;
    text-align: center;
}

.angry {
    background-color: #F86D6D;
    padding: 4.5%;
    text-align: center;
}

.back-butt, .skip-butt {
    color: white;
    text-decoration: none;
}

.back-butt:hover, .skip-butt:hover {
    color: black;
    text-decoration: underline;
}