@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16pt;
    background-color: #2C2C2C;
    color: white;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
}

.basic-frame {
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 75px;
    margin-right: 75px;
    text-align: center;
}

.excited {
    background-color: #F3884B;
    padding: 1%;
    text-align: center;
}

.content {
    background-color: #75CF7E;
    padding: 1%;
    text-align: center;
}

.happy {
    background-color: #FFE14A;
    padding: 1%;
    text-align: center;
}

.bad {
    background-color: #CB6DF8;
    padding: 1%;
    text-align: center;
}

.sad {
    background-color: #6DC6F8;
    padding: 1%;
    text-align: center;
}

.angry {
    background-color: #FA6967;
    padding: 1%;
    text-align: center;
}

.back-butt, .skip-butt {
    color: white;
    text-decoration: none;
}

.back-butt:hover, .skip-butt:hover {
    color: black;
    text-decoration: underline;
}

.home-button {
    opacity: 1;
    transition: .3s ease-in-out;
}

.home-button:hover {
    cursor: pointer;
    opacity: 0.75;
}

/* .isActive-button {
    color: #CB6DF8;
    box-shadow: 2px 2px 20px lightgray;
} */

.rec-playlist {
    color: black;
    margin-top: 25px;
}