.playlist-table {
  width: 100%;
}

.playlist-header {
  font-weight: 700;
  font-size: 24px;
  text-align: left;
}

.playlist-song {
  font-size: 18px;
  text-align: left;
}

.playlist-song-heart {
  height: 25px;
  width: 25px;
}

.playlist-song-heart:hover {
  cursor: pointer;
}

.playlist-song-image {
  height: 30px;
  width: 30px;
}

.playlist-song-album {
  font-size: 14px;
}

.album-link {
  color: green;
  text-decoration: none;
}

.album-link:hover {
  text-decoration: underline;
  color: green;
}

.playlist-song-artists {
}

.artist-link {
  color: green;
  text-decoration: none;
}

.artist-link:hover {
  text-decoration: underline;
  color: green;
}

.playlist-song-kebab {
  height: 20px;
  width: 20px;
}

.button-wrapper {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

.c0 {
  width: 4%;
  vertical-align: baseline;
}

.c1 {
  width: 4%;
  vertical-align: baseline;
}

.c2 {
  width: 44%;
  vertical-align: baseline;
}

.c3 {
  width: 44%;
  vertical-align: baseline;
}

.c4 {
  width: 4%;
  vertical-align: baseline;
}

.artist-comma + .artist-comma::before {
  content: ", ";
}

#dropdown-basic::after{
  display: none;
}

#dropdown-basic {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

.option:active {
  background-color: green !important
}